# Python
__pycache__/
*.pyc
*.pyd
*.so
.Python
build/
dist/
develop-eggs/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
.venv
venv/
env/
.env
*.json

# Specific to this project
Islamabad Transit.kml
Islamabad Transit.kmz
